/* ----------------------------------------------------------------
 Footer
----------------------------------------------------------------- */
.footer {
  width: 100%;
  margin: var(--spacing-lg) auto;
  text-align: center;

  @media (width >= 768px) {
    margin: 5.625rem auto;
  }

  a:hover img {
    opacity: 0.5;
  }

  .footer__logo {
    margin: 0 auto 5.625rem;

    p {
      width: 5.625rem;
      margin: 0 auto;
    }
  }

  .footer__links {
    margin: 0 auto 5.625rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;

    a {
      display: block;
      margin: 0 auto 1.25rem;

      @media (width >= 768px) {
        display: inline;
        margin: 0;
      }
    }

    span {
      display: none;

      @media (width >= 768px) {
        display: inline;
        margin: 0 1.5625rem;
        color: var(--color-rule-light);
      }
    }
  }

  .footer__sns {
    margin: 0 auto 5.625rem;

    .footer__sns-title {
      margin: 0 auto 2.5rem;
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }

    .footer__sns-icons {
      display: flex;
      justify-content: center;
      gap: 2.5rem;

      img {
        width: 2.0625rem;
      }
    }
  }

  .footer__copyright {
    margin: 0 auto 5.625rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
}
